coverage.txt
/dist/
.DS_Store
*~
*#
.#*
depviz.db
/vendor/
packrd/
*-packr.go
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
jspm_packages/
