/* Info box */

.info-box {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 320px;
  height: 160px;
  color: #383B62;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 4px 12px 2px rgba(56, 59, 98, 0.15);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  .info-box-wrapper {
    position: relative;
    height: 100%;
    padding: 1rem 1rem 2rem;
    font-size: 0.8rem;
    .info-box-status {
      height: 5px;
      background-color: #f5f5f5;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      &.Closed, &.Merged, &.Missing {
        background-color: #dedede;
      }
      &.Open {
        background-color: #20D6B5;
      }
    }
    .info-box-title {
      line-height: 1.1;
    }
    .info-box-kind-icon {
      position: absolute;
      right: 6px;
      top: 14px;
      svg {
        fill: #383B62;
        width: 20px;
        height: 20px;
      }
    }
    .info-box-body {
      font-weight: 400;
      margin-top: 0.5rem;
      line-height: 1;
      min-height: 50px;
    }
    .info-box-author-link {
      display: flex;
      align-items: center;
      svg {
        margin-right: 0.35rem;
      }
    }
  }
  .info-box-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    button {
      font-size: 0.65rem;
    }
  }
}
