#cy {
  width: 100%; height: 100%;
}
.viz-wrapper {
  width: 100%;
  height: 80vh;
  margin-top: 1rem;
}

/* mermaid styles */
div.mermaid {
  font-family: "Source Sans Pro", -apple-system, blinkmacsystemfont, segoe ui, helvetica, arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
}
.mermaid-wrapper {
  .mermaid-graph-wrapper {
    overflow: hidden;
    overflow-x: auto;
  }
  .mermaid-graph-info {
    background-color: #d0d3f7;
    padding: 1rem;
    margin-top: 4rem;
    p {
      margin: 0;
    }
  }
  .mermaid-graph {
    #diagram {
      .node {
        .label {
          text-align: left;
        }
        a {
          & > rect, & > circle, & > ellipse, & > polygon, & > path {
            fill: transparent;
            stroke: transparent;
            stroke-width: 0;
          }
        }
        & > rect, & > circle, & > ellipse, & > polygon, & > path {
          fill: transparent;
          stroke: transparent;
          stroke-width: 0;
        }
        .cy-card {
          rect, circle, ellipse, polygon, path {
            fill: #DFE0EB;
            stroke: transparent;
            stroke-width: 0;
          }
          .b-left .cy-icon path {
            fill: white;
          }
        }
      }
    }
  }
}
