.form-group {
  display: inline-block;
  margin: 0 20px 0 0;
}

.button-group {
  margin: 0 10px 10px 0 ;
}

button + button {
  margin-left: 10px;
}

input, select {
  margin: 0 5px 0 10px;
}

.layout-select {
  margin-right: 0;
  label {
    display: flex;
    align-items: center;
  }
}

.ml-right {
  text-align: right;
}

.repo-and-token {
  display: flex;
  align-items: center;
  .form-label {
    margin-bottom: 0;
  }
  .btn {
    margin: 0 0.25rem;
    font-size: 0.8rem;
  }
}

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(142, 154, 171, 0.5)!important;
  border-color: #8c929a;
}

/* #exported-canvas {
  display: none;
} */
