name: Web
on:
  push:
    tags:
      - v*
    branches:
      - master
    paths:
      - 'web/**'
      - ".github/workflows/web.yml"
  pull_request:
    paths:
      - 'web/**'
      - ".github/workflows/web.yml"

jobs:
  build-test-lint:
    strategy:
      matrix:
        node: ['10.x']
    runs-on: ubuntu-latest
    working_directory: web
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2.3.0
        with:
          node-version: ${{ matrix.node }}
      - name: Cache Node.js modules
        uses: actions/cache@v2.1.6
        with:
          path: web/node_modules
          key:          ${{ runner.OS }}-node-${{ matrix.node }}-v1-${{ hashFiles('web/yarn.lock') }}
          restore-keys: ${{ runner.OS }}-node-${{ matrix.node }}-v1-
      - run: npm install
      - run: npm run build
      - run: npm run test:CI
      - run: npm run lint
